<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366672969177-a8vi5d7ho5qiiugqo49ngh1s393t18gd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366672969177-a8vi5d7ho5qiiugqo49ngh1s393t18gd</string>
	<key>API_KEY</key>
	<string>AIzaSyAO4vovm2qQ_DQf7lnuI7fLN6DK5U5g_D4</string>
	<key>GCM_SENDER_ID</key>
	<string>366672969177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.matheusfaleiro.doable</string>
	<key>PROJECT_ID</key>
	<string>doable-3b8b2</string>
	<key>STORAGE_BUCKET</key>
	<string>doable-3b8b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366672969177:ios:71674cf7a7c17cb3d82dc8</string>
</dict>
</plist>